**/pycache/
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.bak   
clases/sprites/objetos/__pycache__/paquete.cpython-312.pyc
clases/sprites/personajes/__pycache__/mario.cpython-312.pyc
